<ul ng-controller="RequirementListController as main">
    <li ng-repeat="requirement in main.requirements">
        <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{main.block.code}}/requisitos/{{requirement.mask || requirement.discipline.code}}/editar">
            editar
        </a>
        <remove-button element="requirement" label="'requirementCode'" code="requirement.discipline ? requirement.discipline.code : requirement.mask">remover</remove-button>
        <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{main.block.code}}/requisitos/{{requirement.mask || requirement.discipline.code}}">
            {{requirement.discipline.code}}
        </a>
    </li>
    <a href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{main.block.code}}/requisitos/criar">+ criar</a>
</ul>