<div ng-controller="CalendarListController as main">
    <h1>Calendários</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Gerenciar Calendários</li>
    </ol>
    <table class="table">
        <thead>
        <tr>
            <th width="30%"></th>
            <th>Ano</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="calendar in main.calendars">
            <td>
                <a href="#/gerenciar-calendarios/{{calendar.year}}/editar" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>editar</span>
                </a>
                <span ng-controller="CalendarDeleteController as main" ng-click="main.remove(calendar)"
                      class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>remover</span>
                </span>
                <a ng-href="#/gerenciar-calendarios/{{calendar.year}}" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-hand-up"></span>
                    <span>detalhes</span>
                </a>
            </td>
            <td>
                {{calendar.year}}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/gerenciar-calendarios/criar" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus"></span>
        criar novo calendário
    </a>
    <nav-bar collection="main.calendars"></nav-bar>
</div>