<ul ng-controller="BlockListController as main">
    <li ng-repeat="block in main.blocks">
        <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{block.code}}/editar">
            editar
        </a>
        <span ng-controller="BlockDeleteController as main" ng-click="main.remove(block)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
            <span>remover</span>
        </span>
        <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{block.code}}">
            {{block.code}}
        </a>
    </li>
    <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/criar">+ criar</a>
</ul>