<ul ng-controller="CatalogListController as main">
   <h1>Catálogos</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Gerenciar Catálogos</li>
    </ol>
    <li ng-repeat="catalog in main.catalogs">
        <a ng-href="#/gerenciar-catalogos/{{catalog.year}}/editar">
            editar
        </a>
        <span ng-controller="CatalogDeleteController as main" ng-click="main.remove(catalog)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
            <span>remover</span>
        </span>
        <a ng-href="#/gerenciar-catalogos/{{catalog.year}}">
            {{catalog.year}}
        </a>
    </li>
    <a href="#/gerenciar-catalogos/criar">+ criar</a>
</ul>