<div ng-controller="ModalityDetailsController as main">
    <h1>Modalidade</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/gerenciar-catalogos">Gerenciar Catalogos</a></li>
        <li><a href="#/gerenciar-catalogos/{{main.catalog.year}}">{{main.catalog.year}}</a></li>
        <li class="active">Modalidade</li>
    </ol>
    <dl class="dl-horizontal">
        <dt>Modalidade</dt>
        <dd>{{main.modality.name}}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Código</dt>
        <dd>{{main.modality.code}}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Curso</dt>
        <dd><a ng-href="#/gerenciar-cursos/{{main.modality.course.code}}">{{main.modality.course.code}}</a></dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Limite de créditos</dt>
        <dd>{{main.modality.creditLimit}}</dd>
    </dl>
    <ng-include src="'block/manage-list.html'"></ng-include>
</div>