
<ul ng-controller="ModalityListController as main">
    <li ng-repeat="modality in main.modalities">
        <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{modality.course.code}}-{{modality.code}}/editar">
            editar
        </a>
        <span ng-controller="ModalityDeleteController as main" ng-click="main.remove(modality)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
            <span>remover</span>
        </span>
        <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{modality.course.code}}-{{modality.code}}">
            {{modality.course.code}} {{modality.code}} {{modality.name}}
        </a>
    </li>
    <a href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/criar">+ criar</a>
</ul>