<ul ng-controller="DisciplineListController as main">
    <li ng-repeat="discipline in main.disciplines">
        <a ng-href="#/gerenciar-disciplinas/{{discipline.code}}/editar">
            editar
        </a>
        <span ng-controller="DisciplineDeleteController as main" ng-click="main.remove(discipline)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
            <span>remover</span>
        </span>
        <a ng-href="#/gerenciar-disciplinas/{{discipline.code}}">
            {{discipline.code}}
        </a>
    </li>
    <a href="#/gerenciar-disciplinas/criar">+ criar</a>
</ul>