<div ng-controller="EnrollmentRequirementUpdateController as main">
    <h1>Editar Disciplina da matrícula</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/gerenciar-matriculas/{{main.enrollment.year}}-{{main.enrollment.period}}">Gerenciar Disciplinas da matrícula</a></li>
        <li class="active">Editar Disciplina da matrícula</li>
    </ol>
    <div class="alert alert-danger" role="alert" ng-show="error">
        <span ng-show="error.duplicated">Disciplina da matrícula repetida</span>
        <span ng-show="error.discipline">A discplina é obrigatória</span>
        <span ng-show="error.offering">O oferecimento é obrigatório</span>
        <span ng-show="error.bid">O lance é obrigatório</span>
    </div>
    <form class="form-horizontal" role="form" ng-submit="main.save()">
        <div ng-class="{'form-group' : true, 'has-error' : !!error.discipline}">
            <label for="selectDiscipline" class="col-sm-2 control-label">Disciplina</label>

            <div class="col-sm-10">
                <select class="form-control" id="selectDiscipline"
                        ng-model="main.requirement.discipline"
                        ng-change="selectDisciplineChanged(main.requirement.discipline)">
                    <option ng-repeat="discipline in disciplines" value="{{discipline.code}}">{{discipline.code }} - {{discipline.name}}</option>
                </select>
            </div>

        </div>
        <div ng-class="{'form-group' : true, 'has-error' : !!error.offering}">
            <label for="selectOffering" class="col-sm-2 control-label">Oferecimento</label>

            <div class="col-sm-10">
                <select class="form-control" id="selectOffering"
                        ng-model="main.requirement.offering">
                    <option ng-repeat="offering in offerings" value="{{offering.year}}-{{offering.period}}-{{offering.code}}" >{{offering.year}}-{{offering.period}}-{{offering.code}}</option>
                </select>
            </div>
        </div>
        <div ng-class="{'form-group' : true, 'has-error' : !!error.bid}">
            <label for="inputBid" class="col-sm-2 control-label">Lance</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBid"
                       ng-model="main.requirement.bid">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-lg">alterar</button>
            </div>
        </div>
    </form>
</div>