<div ng-controller="EnrollmentRequirementListController as main">
    <h1>Disciplinas da matrícula</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Gerenciar Disciplinas da matrícula</li>
    </ol>
    <a href="#/gerenciar-matriculas/criar" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus"></span>
        adicionar nova disciplina
    </a>
    <table class="table">
        <thead>
        <tr>
            <th width="30%"></th>
            <th>Ano</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="requirement in main.requirements">
            <td>
                <a href="#/gerenciar-matriculas/{{requirement.year}}//editar" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>editar</span>
                </a>
                <span ng-controller="EnrollmentRequirementDeleteController as main" ng-click="main.remove(requirement)" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>remover</span>
                </span>
                <a ng-href="#/gerenciar-matriculas/{{requirement.year}}" class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-hand-up"></span>
                    <span>detalhes</span>
                </a>
            </td>
            <td>
                {{requirement.year}}
            </td>
        </tr>
        </tbody>
    </table><nav>
    <nav-bar collection="main.enrollments"></nav-bar>
</nav>
</div>