<div ng-controller="OfferingListController as main">
    <h2>Oferecimentos</h2>
    <table class="table">
        <thead>
        <tr>
            <th width="10%"></th>
            <th>Ano</th>
            <th>Período</th>
            <th>Código</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="offering in main.offerings">
            <td>
                <a ng-href="#/disciplinas/{{main.discipline.code}}/oferecimentos/{{offering.year}}-{{offering.period}}-{{offering.code}}"
                   class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-hand-up"></span>
                    <span>detalhes</span>
                </a>
            </td>
            <td>
                {{offering.year}}
            </td>
            <td>
                {{offering.period}}
            </td>
            <td>
                {{offering.code}}
            </td>
        </tr>
        </tbody>
    </table>
    <nav-bar collection="main.offerings"></nav-bar>
</div>