<div ng-controller="EventListController as main">
    <h2>Eventos</h2>
    <table class="table">
        <thead>
        <tr>
            <th width="30%"></th>
            <th>Evento</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in main.events">
            <td>
                <a href="#/gerenciar-calendarios/{{main.calendar.year}}/eventos/{{event.slug}}/editar"
                   class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>editar</span>
                </a>
                <span ng-controller="EventDeleteController as main" ng-click="main.remove(event)"
                      class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>remover</span>
                </span>
                <a ng-href="#/gerenciar-calendarios/{{main.calendar.year}}/eventos/{{event.slug}}/"
                   class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-hand-up"></span>
                    <span>detalhes</span>
                </a>
            </td>
            <td>
                {{event.name}}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/gerenciar-calendarios/{{main.calendar.year}}/eventos/criar" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        criar novo evento
    </a>
    <nav-bar collection="main.events"></nav-bar>
</div>