<ul ng-controller="CourseListController as main">
    <h1>Cursos</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">Gerenciar Cursos</li>
    </ol>
    <li ng-repeat="course in main.courses">
        <a href="#/gerenciar-cursos/{{course.code}}/editar" class="btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-pencil"></span>
            <span>editar</span>
        </a>
        <span ng-controller="CourseDeleteController as main" ng-click="main.remove(course)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
            <span>remover</span>
        </span>
        <a ng-href="#/gerenciar-cursos/{{course.code}}">
            {{course.code}}
        </a>
    </li>
    <a href="#/gerenciar-cursos/criar" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-plus"></span>
        + criar novo curso
    </a>
</ul>