<ul ng-controller="CourseListController as main">
    <li ng-repeat="course in main.courses">
        <a ng-href="#/gerenciar-cursos/{{course.code}}/editar">
            editar
        </a>
        <span ng-controller="CourseDeleteController as main" ng-click="main.remove(course)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
            <span>remover</span>
        </span>
        <a ng-href="#/gerenciar-cursos/{{course.code}}">
            {{course.code}}
        </a>
    </li>
    <a href="#/gerenciar-cursos/criar">+ criar</a>
</ul>