<h1>Cursos</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/gerenciar-cursos">Gerenciar Cursos</a></li>
        <li class="active">Editar Cursos</li>
    </ol>
<form ng-controller="CourseUpdateController as main" ng-submit="main.save()">
    <div ng-class="{'form-group' : true, 'has-error' : !!error.year}">
        <label for="inputYear" class="col-sm-2 control-label">Código</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCode" placeholder="Código"
                ng-model="main.course.code">
        </div>
    </div>
    <div ng-class="{'form-group' : true, 'has-error' : !!error.year}">
        <label for="inputYear" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Nome"
                ng-model="main.course.name">
        </div>
    </div>    
    <div ng-class="{'form-group' : true, 'has-error' : !!error.year}">
        <label for="inputYear" class="col-sm-2 control-label">Nível</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLevel" placeholder="ano"
                ng-model="main.course.level">
        </div>
    </div>    
    <input type="submit">
</form>