<div ng-controller="RequirementListController as main">
    <h2>Requisitos do Bloco</h2>
    <table class="table">
        <thead>
        <tr>
            <th width="30%"></th>
            <th>Requisito</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="requirement in main.requirements">
            <td>
                <a href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{main.block.code}}/requisitos/{{requirement.mask || requirement.discipline.code}}/editar"
                   class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span>editar</span>
                </a>
                <span ng-controller="RequirementDeleteController as main" ng-click="main.remove(requirement)"
                      class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span>remover</span>
                </span>
                <a ng-href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{main.block.code}}/requisitos/{{requirement.mask || requirement.discipline.code}}"
                   class="btn btn-info btn-xs">
                    <span class="glyphicon glyphicon-hand-up"></span>
                    <span>detalhes</span>
                </a>
            </td>
            <td>
                {{requirement.mask || requirement.discipline.code}}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="#/gerenciar-catalogos/{{main.catalog.year}}/modalidades/{{main.modality.course.code}}-{{main.modality.code}}/blocos/{{main.block.code}}/requisitos/criar"
       class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        criar novo requisito
    </a>
    <nav-bar collection="main.requirements"></nav-bar>
</div>